* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug .border {
    border: 2px dashed;
}

.box {
    min-height: 500px;
    padding: 60px 0;
    background-color: lightgrey;
}

.card {
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
    background-color: pink;
    display: flex;
}

.box:nth-child(odd) {
    background-color: grey;
}    

header {
    background-image: url(/img/jumbo.png);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    padding: 15px 0;
}

.navbar > * {
    padding: 10px 0;
    flex-basis: 20%;
    background-color: yellow;
}

.menu-center {
    flex-grow: 1;
    text-align: center;
}

.menu-center > * {
    padding: 10px 10px;
}

.image {
    flex-basis: 60%;
    background-color: violet;
}

.explanation {
    flex-basis: 40%;
    background-color: blueviolet;
}

.box .last {
    min-height: 700px;
}

.card .last {
    min-height: 600px;
}

.box.foot {
    background-color: grey;
}

.links {
    border: 1px solid black;
    flex-basis: 20%;
}

.links.socials {
    flex-basis: 40%;
    background-color: blueviolet;
}

.box.footer {
    min-height: 80px;
    background-color: grey;
}

.card.footer {
    flex-basis: 80%;
    min-height: 50px;
    justify-content: space-between;
}

